<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Athena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='textarea.css') }}">
    <script src="https://kit.fontawesome.com/a0d153bce5.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div id="wrapper">

        <form id="paper" method="post" action="{{ url_for("genquery") }}">

            <div id="margin" id="title"><h2>Write your sample text <i class="fas fa-feather-alt"></i></h2></div>
            <textarea placeholder="Enter your text..." id="text" name="rawtext" rows="4" ></textarea>
            <br>
            <<button class="glow-on-hover"  type="submit" id="button"><i class="fas fa-greater-than" style="-webkit-text-stroke: 0px white;"></i> Create</button>

        </form>

    </div>
{#    <script>#}
{#        $(document).ready(function(){#}
{#    $('#text').autosize(); });#}
{##}
{#    </script>#}

</body>
</html>